name: Integration

on:
    pull_request:
        branches: [main]

permissions:
    contents: read

jobs:
    inflint:
        name: Inflint

        runs-on: ubuntu-latest
        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 18.18.2
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Pre-build Inflint
              run: pnpm build

            - name: Test Inflint
              run: pnpm inflint

    typescript:
        name: TypeScript

        runs-on: ubuntu-latest
        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 18.18.2
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Test TypeScript
              run: pnpm type-check

    prettier:
        name: Prettier

        runs-on: ubuntu-latest
        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 18.18.2
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Test Prettier
              run: pnpm prettier

    eslint:
        name: ESLint

        runs-on: ubuntu-latest
        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 18.18.2
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Test ESLint
              run: pnpm lint

    knip:
        name: Knip
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.9.0
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Knip
              run: pnpm knip

    cspell:
        name: CSpell
        runs-on: ubuntu-latest

        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 20.9.0
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: CSpell
              run: pnpm cspell

    build:
        name: Build

        runs-on: ubuntu-latest
        steps:
            - name: Setup Node environment
              uses: Exlint/node-environment@v1.2.6
              with:
                  node-version: 18.18.2
                  package-manager: pnpm
                  package-manager-version: 8.10.5

            - name: Test build
              run: pnpm build
